body{
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 20px;
    background-color:darkcyan;


}

form{
    display: grid;
    gap: 15px;
    background-color: #f2f2f2;
    
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
.info{
    display:flex;
    align-items:center;
    justify-content:center;
    color: black;
    text-align: left;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 0, 0);
}